@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Merriweather:ital,wght@0,400;0,700;0,900;1,300&display=swap");

:root {
  font-family: "Merriweather", serif;

  --bg-color: #f9f5eb;
  --text-color: #454545;
  --primary-color: #ff6000;
  --secondary-color: #ffa559;

  --beige-light: #f6efe0;
  --beige-medium: #f3ebd8;
  --beige-dark: #ede2c4;

  --green: #5ebd3e;
  --yellow: #ffb900;
  --orange: #f78200;
  --red: #e23838;
  --purple: #973999;
  --blue: #009cdf;
}

.font-writing {
  font-family: "Kalam", cursive;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

@keyframes rainbow {
  0% {
    color: var(--green);
  }
  10% {
    color: var(--yellow);
  }
  20% {
    color: var(--orange);
  }
  30% {
    color: var(--red);
  }
  40% {
    color: var(--purple);
  }
  50% {
    color: var(--blue);
  }
  60% {
    color: var(--purple);
  }
  70% {
    color: var(--red);
  }
  80% {
    color: var(--orange);
  }
  90% {
    color: var(--yellow);
  }
  100% {
    color: var(--green);
  }
}

/* Link styling */

.rainbow-link a {
  padding: 2px;
  border-radius: 4px;
  font-weight: bold;
  text-decoration: none;
  background-color: var(--beige-medium);
}

.rainbow-link a:hover {
  animation-name: rainbow;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Reset for non-existent links */
.rainbow-link .new {
  pointer-events: none;
  background-color: transparent;
  font-weight: normal;
}

/* Button styling */
.rainbow-button:active {
  transform: scale(0.95) !important;
  transition: transform 0.1s;
}

.rainbow-button:hover {
  animation-name: rainbow;
  animation-duration: 4s;
  animation-iteration-count: infinite;

  transform: scale(1.05);
  transition: transform 0.1s;
}

/* Remove background from poetry/blockquote elements */
.prose blockquote,
.md-block blockquote {
  background: none;
  background-color: transparent;
}
