/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,300&display=swap");

:root {
  font-family: "Merriweather", serif;
}

@keyframes rainbow {
  0% {
    color: #e920ff;
  }
  10% {
    color: #0023ff;
  }
  20% {
    color: #1bd700;
  }
  30% {
    color: #ffff00;
  }
  40% {
    color: #ff8600;
  }
  50% {
    color: #ff0d0d;
  }
  60% {
    color: #ff8600;
  }
  70% {
    color: #ffff00;
  }
  80% {
    color: #1bd700;
  }
  90% {
    color: #0023ff;
  }
  100% {
    color: #e920ff;
  }
}

.rainbow-link a:hover {
  animation-name: rainbow;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.rainbow-button:active {
  transform: scale(0.95);
  transition: transform 0.1s;
}

.rainbow-button:hover {
  animation-name: rainbow;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
