---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseLayout from "../layouts/BaseLayout.astro";
import MarkdownBlock from "../components/MarkdownBlock.astro";
import LinkGraph from "../components/LinkGraph.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Tag from "../components/Tag.astro";

import { getCollection } from "astro:content";

const notes = await getCollection("notes");
const topOfMind = notes.find(note => note.slug === "top-of-mind");

if (!topOfMind) {
  throw new Error("Top of mind note not found");
}

const { Content } = await topOfMind.render();

const { title, description, emoji, pubDate, updatedDate, tags } = topOfMind.data;
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <h1 class="text-6xl lg:text-8xl p-5 px-0 rounded-md w-fit mb-4">
    🏠
  </h1>
  <h1 id="title" class="text-4xl lg:text-5xl font-bold mb-2">
    Home
  </h1>

  <span class="text-md lg:text-lg italic text-text-color/80">
    Updated <FormattedDate
      date={updatedDate}
    />
  </span>


  <MarkdownBlock>
    <Content />
  </MarkdownBlock>

  <LinkGraph rootPath="notes/top-of-mind/" />
</BaseLayout>
