---
import { SITE_TITLE } from "../consts";
import BaseHead from "../components/BaseHead.astro";
import NavLink from "../components/NavLink.astro";

const { title, description } = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body
    id="top"
    class="flex flex-col lg:flex-row p-8 lg:p-12 max-w-7xl mx-auto"
  >
    <nav class="w-full lg:w-80 lg:sticky top-0 h-fit py-4 lg:mr-16">
      <h1 class="text-5xl font-bold text-neutral-800 rainbow">
        <a href="/solderneer/">{SITE_TITLE}</a>
      </h1>

      <p class="mt-2 text-sm italic">
        ~ where Sudharshan (aka solderneer) practices technological magic
      </p>

      <h3 class="text-violet-500 font-black mt-10 mb-2 text-xl">Pages</h3>
      <div class="flex flex-col bg-violet-200 p-5 rounded-md drop-shadow">
        <NavLink href="/" emoji="ðŸ ">Home</NavLink>
        <NavLink href="/blog" emoji="ðŸ“">Thoughts</NavLink>
        <NavLink href="https://thoughts.solderneer.me/" emoji="ðŸŒ³">
          Garden
        </NavLink>
        <NavLink
          href="https://solderneer.notion.site/7f580c6801a1407a849d2dd01752c815?v=fb709826213142b7b9bd8f2e7d91b02c"
          emoji="ðŸ“š"
        >
          Library
        </NavLink>
      </div>

      <h3 class="text-sky-500 font-black mt-10 mb-2 text-xl">Socials</h3>
      <div class="flex flex-col bg-sky-200 p-5 rounded-md drop-shadow">
        <NavLink href="https://twitter.com/solderneer" emoji="ðŸ¦">
          Twitter
        </NavLink>
        <NavLink href="https://github.com/solderneer" emoji="ðŸ’»">
          GitHub
        </NavLink>
      </div>

      <div class="bg-neutral-100 px-5 py-4 rounded-md mt-10 hidden lg:block">
        <NavLink href="/#top" emoji="ðŸ†™">Back to Top</NavLink>
      </div>
    </nav>
    <div
      class="sticky top-10 mt-6 mb-10 bg-neutral-100 px-5 py-4 rounded-md block lg:hidden"
    >
      <NavLink href="/#top" emoji="ðŸ†™">Back to Top</NavLink>
    </div>
    <main class="max-w-3xl"><slot /></main>
  </body>
</html>
