---
import ImageCard from './ImageCard.astro';

// Import Swiper components and styles
import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/pagination';

// Define the interface for the image list
interface CarouselImage {
  src: string;
  alt: string;
  caption: string;
}

// Get the images from Astro props
const { images = [] } = Astro.props;
---
<div class="carousel-container">
    <div class="swiper !h-fit !m-0">
      <div class="swiper-wrapper !flex">
          {images.length > 0 ? images.map((image) => (
            <div class="swiper-slide !w-full !max-w-sm !flex !items-center !justify-center">
                <ImageCard image={image.src} alt={image.alt} caption={image.caption} />
            </div>
          )) : (
            <p class="no-images text-center text-gray-500">No images available</p>
          )}
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>

<style> 
  .swiper {
    max-width: 90vw;
  }

  :global(.swiper-pagination-bullet) {
    background-color: var(--primary-color) !important;
    border: 2px solid var(--beight-dark) !important;
  }

  :global(.swiper-pagination-bullet-active) {
    background-color: var(--secondary-color) !important;
  }

  .swiper-pagination {
    position: relative !important; /* Override default positioning */
    margin-top: 10px !important; /* Add some space */
    text-align: center !important; /* Center it horizontally */
  }
</style>

<script>
  import Swiper from 'swiper';
  import { Navigation, Pagination } from 'swiper/modules';

  // Initialize Swiper after Astro renders
  setTimeout(() => {
    new Swiper('.swiper', {
      modules: [Navigation, Pagination],
      loop: true,
      slidesPerView: "auto",
      centeredSlides: true,
      spaceBetween: 30,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  }, 100);
</script>
