---
import FormattedDate from "./FormattedDate.astro";
import Tag from "./Tag.astro";

interface Props {
  image: ImageMetadata;
  alt: string;
  caption: string;
}

const { image, alt, caption } = Astro.props;
---

<div class="bg-beige-light border border-beige-dark flex flex-col max-w-md rounded-md">
  <div class="relative mb-2">
    <img
      src={image || "/placeholder.svg"}
      alt={alt}
      class="object-cover rounded-md m-0"
    />
  </div>
  <p class="mt-2 text-sm text-center italic">{caption}</p>
</div>

