---
import FormattedDate from "./FormattedDate.astro";
import Tag from "./Tag.astro";
import { Image } from '@astrojs/image/components';

const { image, alt, caption } = Astro.props;

// Import all images eagerly
const images = import.meta.glob('../assets/**/*.{jpg,jpeg,png,webp}', { eager: true });

// Function to get the correct image dynamically
const getImage = (path) => images[`../assets/${path}`]?.default;

---

<div class="bg-beige-light border border-beige-dark flex flex-col overflow-hidden rounded-md mx-auto">
  <div class="relative mb-2">
    <Image
      src={getImage(image)}
      alt={alt}
      class="object-cover m-0"
    />
  </div>
  <p class="mt-2 text-sm text-center italic">{caption}</p>
</div>

