---
const { href, emoji } = Astro.props;
---

<a
  href={href}
  class="px-4 py-1 bg-beige-light border border-beige-dark my-1 rounded font-bold rainbow-button"
>
  <span class="mr-1 text-xl text-black">{emoji}</span>
  <slot />
</a>
