---
import { SITE_TITLE } from "../consts";
import NavLink from "./NavLink.astro";
---

<nav class="w-full lg:w-80 lg:sticky top-0 h-fit py-4 lg:mr-16">
  <h1 class="text-5xl font-bold text-neutral-800 rainbow">
    <a href="/">{SITE_TITLE}</a>
  </h1>

  <p class="mt-2 text-sm italic">
    ~ where Sudharshan (aka solderneer) practices technological magic
  </p>

  <h3 class="text-violet-500 font-black mt-10 mb-2 text-xl">Pages</h3>
  <div class="flex flex-col bg-violet-200 p-5 rounded-md drop-shadow">
    <NavLink href="/" emoji="ðŸ ">Home</NavLink>
    <NavLink href="/blog" emoji="ðŸ“">Thoughts</NavLink>
  </div>

  <h3 class="text-sky-500 font-black mt-10 mb-2 text-xl">Socials</h3>
  <div class="flex flex-col bg-sky-200 p-5 rounded-md drop-shadow">
    <NavLink href="https://twitter.com/solderneer" emoji="ðŸ¦">Twitter</NavLink>
    <NavLink href="https://github.com/solderneer" emoji="ðŸ’»">GitHub</NavLink>
  </div>

  <div
    class="flex sticky top-0 flex-col bg-neutral-100 px-5 py-2 rounded-md mt-10"
  >
    <NavLink href="/#top" emoji="ðŸ¦">Back to Top</NavLink>
  </div>
</nav>
